@{
    ViewBag.Title = "Index";
}

<h1>Demo 1: Hello World</h1>
<div id="helloworld"></div>
<script>
    require(["dojo/dom", "dojo/domReady!"], function (dom) {
        //dom.byId("helloworld").innerHTML = "Hello World!"
        //$("#helloworld").text("Hello World by jquery !")
    });
</script>

